<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.minio.mapper.PracticeMinioMapper">
    
    <resultMap type="PracticeMinio" id="PracticeMinioResult">
        <result property="id"    column="id"    />
        <result property="filedName"    column="filed_name"    />
        <result property="filedPath"    column="filed_path"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPracticeMinioVo">
        select id, filed_name, filed_path, del_flag, create_by, create_time, update_by, update_time, remark from practice_minio
    </sql>

    <select id="selectPracticeMinioList" parameterType="PracticeMinio" resultMap="PracticeMinioResult">
        <include refid="selectPracticeMinioVo"/>
        <where>  
            <if test="filedName != null  and filedName != ''"> and filed_name like concat('%', #{filedName}, '%')</if>
            <if test="filedPath != null  and filedPath != ''"> and filed_path = #{filedPath}</if>
        </where>
    </select>
    
    <select id="selectPracticeMinioById" parameterType="Long" resultMap="PracticeMinioResult">
        <include refid="selectPracticeMinioVo"/>
        where id = #{id}
    </select>

    <insert id="insertPracticeMinio" parameterType="PracticeMinio">
        insert into practice_minio
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="filedName != null">filed_name,</if>
            <if test="filedPath != null">filed_path,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="filedName != null">#{filedName},</if>
            <if test="filedPath != null">#{filedPath},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updatePracticeMinio" parameterType="PracticeMinio">
        update practice_minio
        <trim prefix="SET" suffixOverrides=",">
            <if test="filedName != null">filed_name = #{filedName},</if>
            <if test="filedPath != null">filed_path = #{filedPath},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePracticeMinioById" parameterType="Long">
        delete from practice_minio where id = #{id}
    </delete>

    <delete id="deletePracticeMinioByIds" parameterType="String">
        delete from practice_minio where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>